<style>
  .pd {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
</style>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">Dashboard</a>
    <a class="navbar-brand" routerLink="home">Home</a>
    <a class="navbar-brand" routerLink="menuCard">Menu Card</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li ngbDropdown class="nav-item dropdown visible">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a ngbDropdownItem class="dropdown-item" routerLink="breakfast">Breakfast</a></li>
            <li><a ngbDropdownItem class="dropdown-item" routerLink="lunch">Lunch</a></li>
            <li><a ngbDropdownItem class="dropdown-item" routerLink="dinner">Dinner</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="about">About</a>
        </li>

        <li ngbDropdown class="nav-item dropdown visible">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Learning
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li><a ngbDropdownItem class="dropdown-item" routerLink="learnABCD">Learn ABCD</a></li>
            <li><a ngbDropdownItem class="dropdown-item" routerLink="shadowDomExample">Shadow Dom Example</a></li>
            <li><a ngbDropdownItem class="dropdown-item" routerLink="slideShow">Slide Show</a></li>
            <li><a ngbDropdownItem class="dropdown-item" routerLink="shadowDomExample">Test2</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex">
        <button class="btn btn-light btn-sm">Logout</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid pd">
  <router-outlet></router-outlet> 
</div>

<div class="bg-success container-fluid">
  <h5 style="padding-top: 20px; padding-bottom:20px; color: white;">©GorakhShinde</h5>
</div>
